<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/order.css">
    <title>결제</title>
</head>
<body>
<div id="container">
    <main>
        <header class="main-header">
            <a href="/index" class="logo"><img src="/static/images/header/site_logo.PNG"></a>
            <ul>
                <li>카트<strong>&#62;</strong></li>
                <li>정보<strong>&#62;</strong></li>
                <li>배송<strong>&#62;</strong></li>
                <li>지급</li>
            </ul>
        </header>
        <section class="main-content">
            <div class="principal-info">
                <h2 class="info-title">연락처 정보</h2>
                <div class="info-detail">
                    <div class="profile-img">
                        <img src="/static/images/header/profile.png">
                    </div>
                    <div class="profile-detail">
                        <div class="principal-user">구기룡 (kkr583@naver.com)</div>
                        <a href="/logout">로그아웃</a>
                    </div>
                </div>
            </div>
            <div class="address-info">
                <h2 class="info-title">배송 주소</h2>
                
            </div>
            <div class="payment-content">

            </div>
        </section>
    </main>
    <aside>

    </aside>
</div>
<script src="/static/js/product/product_order.js"></script>
</body>
</html>